*{
    margin: 0;
    padding: 0;
    color: white;
}
#navbar{
    background-color: #0f1111;
    border-color: white;
    border: 20px;
    height: 60px;
    
    

}
button{
    color: #f08804;
}
#logo{
     color: #f08804;
}
a{
    margin-right: 140px;
    text-decoration: none;
}
input{
    color: gray;
}
